.cloud {
    position: absolute;
    pointer-events: none;
}
.cloud1 {
    width: 1200px;
    right: 0px;
    bottom: 40%;
}
.cloud2 {
    left: 0px;
    bottom: 25%;
}
.cloud3 {
    left: -40px;
    bottom: 12%;
}
.cloud4 {
    right: -20px;
    bottom: 3%;
}
.cloud5 {
    left: -10px;
    bottom: 5%;
}
.cloud6 {
    right: 20%;
    top: 65%;
}
.cloud7 {
    left: 20%;
    top: 75%;
}
.sun {
}
